[submodule "vendor/SDWebImage"]
	path = vendor/SDWebImage
	url = git://github.com/rs/SDWebImage.git
	ignore = dirty
[submodule "vendor/Base64"]
	path = vendor/Base64
	url = https://github.com/keyvanfatehi/Base64
	ignore = dirty
